<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title> TextUtils</title>
  </head>
  <body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a style="font-family: 'Times New Roman', Times, serif;font-size: 30px;" class="navbar-brand" href="http://127.0.0.1:8000/">TextUtils.in</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a style="font-family: 'Times New Roman', Times, serif;font-size: 25px;"class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a style="font-family: 'Times New Roman', Times, serif;font-size: 25px;"class="nav-link" href="http://127.0.0.1:8000/about/">About Us</a>
            </li>
            <li class="nav-item">
              <a style="font-family: 'Times New Roman', Times, serif;font-size: 25px;"class="nav-link" href="http://127.0.0.1:8000/contact/">Contact Us</a>
            </li>
            
          </ul>
        </div>
    </div>
    <form style="font-family: 'Times New Roman', Times, serif;" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>
  <div style="font-family: 'Times New Roman', Times, serif;font-size: 19px;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to TextUtils!</strong> You can do anything with your text here.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <center>
      <div class="container mt-5">
      <h3 style="font-family:Times New Roman;"></h3style><b>Contact Details:</b></h3>
      <div class="card" style="width: 30rem; height: 10rem;font-size: 20px;font-family: 'Times New Roman', Times, serif ;   ">
        <div class="card-body">
          <p class="card-text"><b>Name :</b> Pratiksha Arun Yeshi<br></p>
          <p><b>Contact :</b> +91 9420985999<br></p>
          <p><b>Email Id :</b> payeshi9999@gmail.com<br></p>
          </p>
          <a style="font-family:'Times New Roman', Times, serif; background-color: rgb(62, 144, 110);font-size: 16px;" href="https://www.linkedin.com/in/pratiksha-yeshi-36a915212/"<span class="badge badge-pill badge-info"></span>LinkedIn</a>&nbsp&nbsp&nbsp&nbsp&nbsp
          <a style="font-family:'Times New Roman', Times, serif; background-color: rgb(62, 144, 110);font-size: 16px;"href="https://github.com/PratikshaYeshi22"<span class="badge badge-pill badge-info"></span>GitHub</a>&nbsp&nbsp&nbsp&nbsp&nbsp
          <a style="font-family:'Times New Roman', Times, serif; background-color: rgb(62, 144, 110);font-size: 16px;"href="https://www.instagram.com/pratiksha_yeshi_/?next=%2F"<span class="badge badge-pill badge-info"></span>Instagram</a>
        
        </div>
      </div>
      </div>
      </center>
      





      
  
      </body>
      
     
</html>